<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>

    <!-- head -->
    <th:block th:fragment="head">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>OrionGram</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"/>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            button.accordion {
                background-color: #eee;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
            }

            button.accordion.active, button.accordion:hover {
                background-color: #ddd;
            }

            div.panel {
                padding: 0 18px;
                display: none;
                background-color: white;
            }
            .center {
                width: 100%;
                text-align: center;
            }
        </style>
        <script>
            let ID = id => document.getElementById(id);
        </script>
    </th:block>
    <!-- head -->

</head>
<body>

<!-- nav -->
<th:block th:fragment="nav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">OrionGram</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <th:block sec:authorize="isAnonymous()">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </th:block>

                   <th:block sec:authorize="isAuthenticated()">
                       <li><a href="/index">Your Feed</a></li>
                       <li><a href="/all">Global Feed</a></li>
                       <li><a href="/following">Follow feed</a></li>
                       <li><a href="/logout">Logout</a></li>
                       <li ><a href="#"><input id="caption_input" style="display: none;" class="form-control" type="text" placeholder="Picture Caption"/></a></li>
                       <li id="file_input"><a href="#"><input class="btn btn-warning" value="select an image" type="button"/></a></li>
                       <li id="file_input_button" style="display: none;"><a href="#"><input class="btn btn-success" type="button" value="Upload"/></a></li>
                   </th:block>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <th:block sec:authorize="isAuthenticated()">
        <form id="upload_form" th:object="${image}" method="POST" action="/upload" enctype="multipart/form-data" style="display: none;">
            <input id="upload_file" type="file" name="file"/>
            <input id="upload_caption" type="hidden" name="caption" th:field="*{caption}"/>
        </form>
    <script>
        $('#file_input').click( () => { $('#upload_file').click() } );
        $('#upload_form').on('change', () => {
            ID('file_input').style.display = 'none';
            ID('caption_input').style.display = 'inherit';
            ID('file_input_button').style.display = 'inherit';
            $('#file_input_button').click( () => {
                if(ID('caption_input').value.length > 0) {
                    ID('upload_caption').value = ID('caption_input').value;
                    $('#upload_form').submit();
                }
            })
        });
    </script>
        </th:block>
    <br/><br/><br/><br/>
</th:block>
<!-- nav -->

<!-- images -->
<th:block th:fragment="images">
    <th:block th:each="i : ${images}">
        <div class="well">
            <span class="center"><th:block th:utext="${i.image.src}"></th:block></span>
            <h3 th:text="${i.image.caption}"></h3>
            <p>by: <th:block th:text="${i.image.username}">username error</th:block> on <th:block th:text="${i.image.date}">date error</th:block></p>
            <a th:href="@{'thumbsUp/' + ${i.image.id}}"><button class="btn btn-sm btn-success" th:text="${ 'thumbsUp (' + {i.thumbsUps.length} + ')'}"></button></a>
            <a th:href="@{'follow/' + ${i.image.username}}"><button class="btn btn-sm btn-primary" th:text="${ 'follow ' + {i.image.username} }"></button></a>
            <br/><br/>
            <button class="accordion"><th:block th:text="${i.comments.size()}">comment size error</th:block> comments (click to view or add a comment)</button>
            <div class="panel">
                <br/>
                <th:block th:each="c : ${i.comments}">
                    <p>
                        <th:block th:text="${c.username}">username error</th:block> at
                        <th:block th:text="${c.date}">date error</th:block> said:
                        <th:block th:text="${c.body}">body error</th:block>
                    </p>
                </th:block>
                <form th:object="${image}" method="POST" action="/comment">
                    <input type="text" class="form-control" th:field="*{caption}"/>
                    <input type="hidden" name="id" th:value="${i.image.id}"/>
                </form>
                <br/>
            </div>
        </div>
    </th:block>
    <script>      //-_-//accordion script//-_-//
    let acc = document.getElementsByClassName('accordion');
    let i;
    for (i = 0; i < acc.length; i++)
        acc[i].onclick = function() {
            this.classList.toggle('active');
            let panel = this.nextElementSibling;
            if (panel.style.display === 'block') {
                panel.style.display = 'none';
            } else {
                panel.style.display = 'block';
            }
        };
    </script>
</th:block>
<!-- images -->

<th:block th:fragment="profile">

    <div class="well">
        this is a well with some stuff in it <p>some mroe sutff</p>
        this is a this is a well with some stuff in it <p>some mroe sutff</p>
        well with some stuff in it <p>this is a well with some stuff in it <p>
        some mroe sutff</p>some mroe sutff</p>
        this is a well with some stuff in it <p>some mroe sutff</p>
    </div>
    <div class="well">
        this is s is a well with some a well with some stuff in it
        th some stu<p>some mroe sutff</p>ff in it <p>some mroe sutff</p>
        wel in it <p>thistufl with some stufff in it <p>
        some mroe sutff</p>some mroe sutff</p>
        this is a well with shis is a this i<p>some mroe sutff</p>s
        a well witome stuff in it
    </div>


</th:block>


</body>
</html>