<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<div class="container">

    <th:block th:replace="base :: nav"></th:block>
    <th:block th:each="i : ${images}">
        <div class="well">
            <th:block th:utext="${i.image.src}"></th:block>
            <h3 th:text="${i.image.caption}"></h3>
            <p>by: <th:block th:text="${i.image.username}"></th:block> on <th:block th:text="${i.image.date}"></th:block></p>
            <a th:href="@{'like/' + ${i.image.id}}"><button class="btn btn-sm btn-primary" th:text="${ 'like (' + {i.image.likes} + ' likes)'}"></button></a>
            <a th:href="@{'follow/' + ${i.image.username}}"><button class="btn btn-sm btn-primary" th:text="${ 'follow ' + {i.image.username} }"></button></a>
            <br/><br/>
            <button class="accordion"><th:block th:text="${i.comments.size()}"></th:block> comments (click to view or add a comment)</button>
            <div class="panel">
                <br/>
                <th:block th:each="c : ${i.comments}">

                    <p>
                        <th:block th:text="${c.username}"></th:block> at
                        <th:block th:text="${c.date}"></th:block> said:
                        <th:block th:text="${c.body}"></th:block>
                    </p>

                </th:block>
                <form th:object="${image}" method="POST" action="/comment">
                    <input type="text" class="form-control" th:field="*{caption}"/>
                    <input type="hidden" name="id" th:value="${i.image.id}"/>
                </form>
                <br/>
            </div>


        </div>
    </th:block>
    <script>      //accordion script
        let acc = document.getElementsByClassName('accordion');
        let i;
        for (i = 0; i < acc.length; i++)
            acc[i].onclick = function() {
                this.classList.toggle('active');
                let panel = this.nextElementSibling;
                if (panel.style.display === 'block') {
                    panel.style.display = 'none';
                } else {
                    panel.style.display = 'block';
                }
            };
    </script>
</div>
</body>
</html>